services:
  dg-effect-template:
    build: .
    container_name: dg-effect-template
    environment:
      REPO_URL: "https://github.com/ProverCoderAI/effect-template"
      REPO_REF: "main"
      FORK_REPO_URL: "https://github.com/skulidropek/effect-template.git"
      TARGET_DIR: "/home/dev/provercoderai/effect-template"
      CODEX_HOME: "/home/dev/.codex"
    env_file:
      - /home/user/docker-git/effect-template/.docker-git/provercoderai/effect-template/.orch/env/global.env
      - /home/user/docker-git/effect-template/.docker-git/provercoderai/effect-template/.orch/env/project.env
    ports:
      - "127.0.0.1:2227:22"
    volumes:
      - dg-effect-template-home:/home/dev
      - /home/user/docker-git/effect-template/.docker-git/authorized_keys:/authorized_keys:ro
      - /home/user/docker-git/effect-template/.docker-git/provercoderai/effect-template/.orch/auth/codex:/home/dev/.codex
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - dg-effect-template-net

networks:
  dg-effect-template-net:
    driver: bridge

volumes:
  dg-effect-template-home:
